@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: AquireFont;
    src: url(./assets/aquire.otf);
}
@font-face {
    font-family: NormalFont;
    src: url(./assets/Moon2.0-Bold.otf);
}

* {
    font-family: NormalFont;
        /* border: 1px solid black;
        box-sizing: border-box; */
}
body::-webkit-scrollbar {
    display: none;
}
body{
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.titlefont{
    font-family: AquireFont;
}
::-moz-selection {
    background-color: transparent;
    color: #000;
}


::selection {
    background-color: transparent;
    color: #000;
}
html {
    /* background: url(./assets/blurry.png) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    scroll-snap-type: y mandatory;
}