@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: MoonFont;

    src: url(./assets/aquire.otf);
}

* {
    font-family: MoonFont;
}
body::-webkit-scrollbar {
    display: none;
}
body{
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

html {
    /* background: url(./assets/blurry.png) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    scroll-snap-type: y mandatory;
}