@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: AquireFont;
    src: url(./assets/aquire.otf);
}

@font-face {
    font-family: NormalFont;
    src: url(./assets/Moon2.0-Bold.otf);
}


* {
    font-family: NormalFont;
    /* border: 1px solid black;
        box-sizing: border-box; */
}

body::-webkit-scrollbar {
    display: none;
}

.overflow-y-auto::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.overflow-y-auto::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}

/* Handle */
.overflow-y-auto::-webkit-scrollbar-thumb {
    background: #abb0b4;
    border-radius: 10px;
}

body {
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
    scrollbar-width: none;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

.titlefont {
    font-family: AquireFont;
}

::-moz-selection {
    background-color: transparent;
    color: #000;
}


::selection {
    background-color: transparent;
    color: #000;
}

#home {
    /* background: url(./assets/bitmap.svg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

html {
    /* color: #f0f8ff; */
    /* background: url(./assets/bitmap.svg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */

    scroll-snap-type: y mandatory;
}