@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: MoonFont;

    src: url(./assets/Moon2.0-Light.otf);
}

* {
    font-family: MoonFont;
}

html {
    background: url(./assets/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}